{:blocks (
{:block/created-at 1707974561685
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke "purple"
:rotation 0
:collapsed true
:borderRadius 8
:index 0
:scale [1 1]
:pageId "一維資料用一個向量k表示(1-d,1-vector)"
:scaleLevel "xl"
:fill "purple"
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [960 80]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ae1105c0-cbbe-11ee-9e7e-fb4c9849e0bd"
:noFill false
:point [-488 -32]
:parentId "65cd999f-dacd-4c90-8584-53d222d92bab"
:collapsedHeight 2098.9770565282643
:nonce 1707973032869}}
:block/updated-at 1707974561685} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "65cd999f-dacd-4c90-8584-53d222d92bab"}
:block/parent 
{:block/uuid #uuid "65cd999f-dacd-4c90-8584-53d222d92bab"}
:block/properties 
{}
:block/uuid #uuid "65cd9ad9-b26c-40dd-8619-747b1557d84f"} 
{:block/created-at 1707975333551
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke "red"
:rotation 0
:collapsed true
:borderRadius 8
:index 1
:scale [1 1]
:pageId "(1-d,1-vector)-誤差"
:scaleLevel "xl"
:fill "red"
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [504 80]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "65ec2170-cbbf-11ee-9e7e-fb4c9849e0bd"
:noFill false
:isLocked false
:point [616 -40]
:parentId "65cd999f-dacd-4c90-8584-53d222d92bab"
:collapsedHeight 128.62600772455
:nonce 1707973341497}}
:block/updated-at 1707975333551} 
{:block/created-at 1707975333552
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 2
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "65ec2171-cbbf-11ee-9e7e-fb4c9849e0bd"
:fontWeight 400
:noFill true
:point [473 2.34]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 1.27]
:bindingId "65ec2172-cbbf-11ee-9e7e-fb4c9849e0bd"}
:end 
{:id "end"
:canBind true
:point [139 0]
:bindingId "65ec2173-cbbf-11ee-9e7e-fb4c9849e0bd"}}
:decorations 
{:end "arrow"}
:parentId "65cd999f-dacd-4c90-8584-53d222d92bab"
:nonce 1707973340905
:italic false}}
:block/updated-at 1707975333552} 
{:block/created-at 1707975331568
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke "red"
:rotation 0
:collapsed true
:borderRadius 8
:index 3
:scale [1 1]
:pageId "(1-d,1-vector)-問題定義"
:scaleLevel "xl"
:fill "red"
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [632 80]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3d3defe0-cbc1-11ee-9e7e-fb4c9849e0bd"
:noFill false
:isLocked false
:point [416 160]
:parentId "65cd999f-dacd-4c90-8584-53d222d92bab"
:collapsedHeight 251.18807242333298
:nonce 1707974132272}}
:block/updated-at 1707975331568} 
{:block/created-at 1707975331569
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "3d3defe1-cbc1-11ee-9e7e-fb4c9849e0bd"
:fontWeight 400
:noFill true
:point [150.02 49]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "3d3e16f0-cbc1-11ee-9e7e-fb4c9849e0bd"}
:end 
{:id "end"
:canBind true
:point [412.4 107]
:bindingId "3d3e16f1-cbc1-11ee-9e7e-fb4c9849e0bd"}}
:decorations 
{:end "arrow"}
:parentId "65cd999f-dacd-4c90-8584-53d222d92bab"
:nonce 1707974131586
:italic false}}
:block/updated-at 1707975331569})
:pages (
{:block/uuid #uuid "65cd999f-dacd-4c90-8584-53d222d92bab"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "65cd999f-dacd-4c90-8584-53d222d92bab"
:name "(1-d,1-vector)問題-白板"
:bindings 
{:65ec2172-cbbf-11ee-9e7e-fb4c9849e0bd 
{:id "65ec2172-cbbf-11ee-9e7e-fb4c9849e0bd"
:type "line"
:fromId "65ec2171-cbbf-11ee-9e7e-fb4c9849e0bd"
:toId "ae1105c0-cbbe-11ee-9e7e-fb4c9849e0bd"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:65ec2173-cbbf-11ee-9e7e-fb4c9849e0bd 
{:id "65ec2173-cbbf-11ee-9e7e-fb4c9849e0bd"
:type "line"
:fromId "65ec2171-cbbf-11ee-9e7e-fb4c9849e0bd"
:toId "65ec2170-cbbf-11ee-9e7e-fb4c9849e0bd"
:handleId "end"
:point [0.5 0.5]
:distance 4}
:3d3e16f0-cbc1-11ee-9e7e-fb4c9849e0bd 
{:id "3d3e16f0-cbc1-11ee-9e7e-fb4c9849e0bd"
:type "line"
:fromId "3d3defe1-cbc1-11ee-9e7e-fb4c9849e0bd"
:toId "ae1105c0-cbbe-11ee-9e7e-fb4c9849e0bd"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:3d3e16f1-cbc1-11ee-9e7e-fb4c9849e0bd 
{:id "3d3e16f1-cbc1-11ee-9e7e-fb4c9849e0bd"
:type "line"
:fromId "3d3defe1-cbc1-11ee-9e7e-fb4c9849e0bd"
:toId "3d3defe0-cbc1-11ee-9e7e-fb4c9849e0bd"
:handleId "end"
:point [0.5 0.5]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("ae1105c0-cbbe-11ee-9e7e-fb4c9849e0bd" "65ec2170-cbbf-11ee-9e7e-fb4c9849e0bd" "65ec2171-cbbf-11ee-9e7e-fb4c9849e0bd" "3d3defe0-cbc1-11ee-9e7e-fb4c9849e0bd" "3d3defe1-cbc1-11ee-9e7e-fb4c9849e0bd")}}
:block/journal? false
:block/updated-at 1707975333551
:block/created-at 1707973023540
:block/format :markdown
:block/type "whiteboard"
:block/name "(1-d,1-vector)問題-白板"
:block/original-name "(1-d,1-vector)問題-白板"})}